@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #f5f9f8;
  --textWhite: rgba(245, 249, 248, 0.6);
  --black: #01031A;
  --headerBlack: #1e1e27;
  --contentBlack: #2e2e37;
  --red: #df0139;
  --green: #08EC4B;
  --light: rgba(226, 226, 226, 0.1);
  --shadow: #28242a;
  --transition: 0.2s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.1px;
  color: var(--white);
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--contentBlack);
  color: var(--white);
}

/* header */
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBlack);
  box-shadow: 0 2px 4px 1px var(--shadow);
}

header .profileImage {
  width: 48px;
  height: 48px;
  order: 2;
  position: relative;
}

header .profileImage > img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
}

header .profileImage .state {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  right: 0;
} header .profileImage .state.online{
  background-color: var(--red);
}

header .searchContainer {
  border: 1px solid var(--light);
  padding: 8px 16px;
  border-radius: 24px;
  width: calc(40% - 36px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  order: 1;
}

header .searchContainer > input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

header .iconMenuToggle {
  border-radius: 50%;
  padding: .4em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: solid 2px var(--red);
  position: relative;
  transition: var(--transition);
}
header .iconMenuToggle > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--red);
}
header .iconMenuToggle.rotated{
  transform: scaleX(-1);
}

/*navbar*/
.verticalNavbar {
  width: 200px;
  height: calc(100vh - 60px);
  padding: 1em;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: var(--headerBlack);
  box-shadow: 2px 0 4px 1px var(--shadow);
  transition: var(--transition);
}.verticalNavbar.hidden{
  transform: translateX(-100%);
}

.verticalNavbar .navlist {
  /* lista de enlaces */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.verticalNavbar .navlist .navItem, .verticalNavbar .navlist .dropdownButton {
  padding: 1em;
  text-transform: capitalize;
  cursor: pointer;
  opacity: .6;
  transition: var(--transition);
} .verticalNavbar .navlist .navItem:hover, .verticalNavbar .navlist .dropdownButton:hover{
  opacity: 1;
}
.verticalNavbar .navlist .dropdownButton{
  background-color: transparent;
  border: none;
  color: var(--red);

}

/* main content */
.main-content{
  display: flex;
  margin-top: 60px;
}

.content{
  margin-left: 200px;
  padding: 2em;
  transition: var(--transition);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
} .content.expanded{
  margin-left: 0;
}

.content .container{
  border: solid 1px var(--textWhite);
  border-radius: 4px;
  padding: 1em;
  box-shadow: 1px 2px 4px 1px var(--light);
}

.content .container .containerTitle{
  font-size: 2em;
  font-weight: 600;
}
.content .container .containerParagraph{
  color: var(--textWhite);
  font-size: 1.1em;
}